/* Navbar Styles */
.navbar {
    display: flex;
    position: fixed;
    justify-self: center;
    justify-content: space-between;
    top: 20px;
    height: 64px;
    background-color: black;
    margin: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    padding: 0 40px;
    align-items: center;
    width: 75%;
}

.navbar-logo {
    font-weight: bold;
    font-size: 24px;
    color: #C2622A;
    margin: 0;
}

.navbar-logo span {
    color: white;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar-link {
    color: white;
    text-decoration: none;
}

.navbar-link p {
    margin: 0;
}

.navbar-link:hover {
    height: fit-content;
    background-color: #F5F4F2;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: #6B6560;
}

.navbar-link-home {
    height: fit-content;
    background-color: #F5F4F2;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.navbar-button {
    background-color: #F97316;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}